.form {
  text-align: right;
}

.form button {
  font: inherit;
  cursor: pointer;
  background-color: #ff7700ee;
  border: 1px solid #ff7700ee;
  color: white;
  padding: 0.25rem 2rem;
  border-radius: 20px;
  font-weight: bold;
}

.form button:hover,
.form button:active {
    background-color: #ff6a0075;
    border-color: #ff6a0075;
}